{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}









  <header>
        <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>
    <section class="backconnexion">










    <br>
    <button type="button" class="place1 btn btn-primary ">connexion</button>





</section>











{% endblock %}
